/* .box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50px;
    border: 6px solid rgba(255, 255, 255,0.8);
} */

.box div {
    position: absolute;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.5);
    animation: blink 3s ease-in-out infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 0.6;
    }
    50% {
      opacity: 1;
    }
  }


.box div:nth-child(1){
    top:12%;
    left:42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top:70%;
    left:50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top:17%;
    left:6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top:20%;
    left:60%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top:67%;
    left:10%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top:80%;
    left:70%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top:60%;
    left:80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top:32%;
    left:25%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top:90%;
    left:25%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top:20%;
    left:80%;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
.typing {
    overflow: hidden;/* Ensures the text is hidden until it is typed */
    white-space: nowrap; /* Prevents text from wrapping */
    animation: typing 3s steps(30, end) forwards, blink 0.75s step-end infinite;
}
@keyframes blink {
    50% { border-color: transparent; }
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.hover\:scale-110:hover {
    transform: scale(1.1);
}

/* Light Gradient Background */
.bg-gradient {
    background: linear-gradient(135deg, #f3e5ab, #e2b0ff);
}